extends layout

block content
  h1= title
  span
    h2 Version: #{appVersion}

  h1= Orders
  table
    thead
      tr
        th Order Code
        th Created Date
        th Source
      tbody
        each order in orders
          tr
            td= order.orderCode
            td= order.Created_date
            td= order.source